#body{
    height: 83vh;
}
#footer{
    position: absolute;
    bottom: 2px;
    text-align: center;
    width: 90%;
    left: 5%;
    right: 5%;
}
#wrapper{
    height: 100%;
}
#header{
    font-size: 25px;
    /* padding sert à l'espacement dans l'espace */
    padding: 15px;
    font-weight: 900;
    color: tomato;
    text-decoration: underline black;
}
#dot{
    color: black;
}
#js{
    color: blue;
    font-style: italic;
    font-size : 23px;
}
#editor{
    /* css debug porperties */
    background-color: yellow;
    color: black;

    display: flex;
}
#editor>div:first-child{
    flex-grow: 1;
}