#footer{
    position: absolute;
    bottom: 2px;
    text-align: center;
    width: 90%;
    left: 5%;
    right: 5%;
}
#header{
    font-size: 25px;
    /* padding sert à l'espacement dans l'espace */
    padding: 15px;
    font-weight: 900;
    color: tomato;
    text-decoration: underline black;
}
#dot{
    color: black;
}
#js{
    color: blue;
    font-style: italic;
    font-size : 23px;
}